<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IwsOnlineToCPE" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://emiteonline.pe/OnlineCPE/CPE/wsOnlineToCPE.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IwsOnlineToCPE"
                contract="ServiceReferencePSE.IwsOnlineToCPE" name="BasicHttpBinding_IwsOnlineToCPE" />
        </client>
    </system.serviceModel>
</configuration>