.vs/Cotizador/v14/.suo
Cotizador/bin
Cotizador/obj/Debug
Cotizador/obj/Release
*.dll
BusinessLayer/bin/Debug/BusinessLayer.pdb
*.pdb
*.pdb
BusinessLayer/bin/Debug/BusinessLayer.pdb
*.pdb
BusinessLayer/bin/Debug/DataLayer.dll
*.pdb
*.dll