<label class="lblAlertaDanger _CLASS_TOOLTIP_ " >
    SE APROBÓ ATENDER <span class="cantidadPermitidaAtender"></span> UNIDADES
    <span class="tooltip-label-danger-text tooltiptext">_DATA_TIPSO_</span>
</label>

