<div class="page-header">
    <h3>Carga Masiva Pedidos Venta</h3>
</div>
<div class="container">
    <form class="form-horizontal" action="/Pedido/Load" method="post" enctype="multipart/form-data" id="form1">

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="file" class="control-label col-xs-4">Excel (xlsx):</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="file" name="file" id="file" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label for="file" class="control-label col-xs-4">Última Fila:</label>
                    <div class="col-xs-8">
                        <input class="form-control" type="number" value="0" name="ultimaFila" id="ultimaFila" />
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4"></label>
                    <div class="col-xs-8">
                        <button type="submit" class="btn btn-primary" form="form1" value="Submit">Cargar Pedidos</button>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.numerosPedido != null && ViewBag.numerosPedido.Length > 0)
        {
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">Número Grupo</label>
                        <div class="col-xs-8">
                            @ViewBag.numeroGrupo
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">Números Pedidos</label>
                        <div class="col-xs-8">
                            @ViewBag.numerosPedido
                        </div>
                    </div>
                </div>
            </div>

        }

    </form>
    
</div>
