
<div class="modal fade" tabindex="-1" id="modalExtenderVigenciaCotizacion">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalExtenderVigenciaCotizacionTitle"><b><span id="titleModalExtenderVigenciaCotizacion"></span></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-8 col-lg-8">
                        <div class="form-group">
                            <label class="control-label col-xs-6">Fecha Extendida:</label>
                            <div class="col-xs-6">
                                <input type="text" id="nuevaFechaExtenderVigenciaCotizacion" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg-4 text-right">
                        <button id="btnRegistrarVigenciaCotizacion" type="button" class="btn btn-primary">Solicitar Extensión</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Comentario:</label>
                            <div class="col-xs-8">
                                <textarea type="text" id="comenarioExtenderVigenciaCotizacion" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="divMensajePreciosNoAfectados" class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h5 class="text-danger">Los SKUs sombreados NO se verán afectados por la ampliación de vigencia ya que existen cotizaciones aceptadas para dichos productos con inicio de vigencia posterior a la de la cotización en cuestión.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 tableFixHead">
                        <table id="tableExtenderVigenciaCotizacionPrecios" class="table table-bordered" style="margin-top: 0px;">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Prov.</th>
                                    <th>Código</th>
                                    <th>Producto</th>
                                    <th>Unidad</th>
                                    <th>Precio Lista</th>
                                    <th>Precio Neto</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">

    var nroCoti = 0;

    function funcionesModalExtenderVigenciaCotizacion() {
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        $("#nuevaFechaExtenderVigenciaCotizacion").datepicker({ dateFormat: "dd/mm/yy", minDate: 0 });

        $(document).on('click', "#btnEditarFechaFinVigencia", function () {
            nroCoti = $(this).attr("codigo");
            $("#titleModalExtenderVigenciaCotizacion").html("Extender Vigencia Cotización N° " + nroCoti);
            llenarExtenderVigenciaCotizacionPrecios();
        });


        $(document).on('click', "#btnRegistrarVigenciaCotizacion", function () {
            var urlAction = "";
            var questionText = "";
            var loadingText = "";
            var resultText = "";
            if (tipoAprobarGrupoPedido == 1) {
                urlAction = "AprobarPedidosGrupo";
                loadingText = "Aprobando";
                questionText = '¿Está seguro que desea APROBAR los pedidos del grupo? Solo se aprobaran los pedidos en estado "Pendiente Aprobación de Ingreso"';
                resultText = "Aprobaron";
            }

            if (tipoAprobarGrupoPedido == 2) {
                urlAction = "LiberarPedidosGrupo";
                loadingText = "Liberando";
                questionText = '¿Está seguro que desea LIBERAR los pedidos del grupo? Solo se liberaran los pedidos en estado "Pendiente Liberación"';
                resultText = "Liberaron";
            }


            $.confirm({
                title: 'CONFIRMACIÓN',
                content: questionText,
                type: 'orange',
                buttons: {
                    confirm: {
                        text: 'SÍ',
                        btnClass: 'btn-red',
                        action: function () {
                            $('body').loadingModal({
                                text: loadingText + ' Pedidos...'
                            });
                            $('body').loadingModal('show');


                            $.ajax({
                                url: "/Pedido/" + urlAction,
                                type: 'POST',
                                dataType: 'JSON',
                                data: {
                                    numeroGrupo: nroGrupoAprobarGrupoPedido
                                },
                                error: function (lista) {
                                    $('body').loadingModal('hide');

                                    $.alert({
                                        title: "ERROR",
                                        content: "Ocurrió un error. Si persiste contacte con TI.",
                                        type: "red",
                                        buttons: {
                                            OK: function () {
                                            }
                                        }
                                    });
                                },
                                success: function (result) {

                                    if (result.success == 1) {
                                        $.alert({
                                            title: "Operación Exitosa",
                                            content: "Se " + resultText + " los pedidos correctamente.",
                                            type: "green",
                                            buttons: {
                                                OK: function () {
                                                    $("#modalAprobarGrupoPedido").modal('hide');
                                                }
                                            }
                                        });
                                    } else {
                                        $.alert({
                                            title: "ERROR",
                                            content: "No se " + resultText + " los pedidos.",
                                            type: "red",
                                            buttons: {
                                                OK: function () {
                                                }
                                            }
                                        });
                                    }

                                    $('body').loadingModal('hide');
                                }
                            });
                        }
                    },
                    cancel: {
                        text: 'NO',
                        btnClass: 'btn-green',
                        action: function () {

                        }
                    }
                },

            });
        });
    };

    function llenarExtenderVigenciaCotizacionPrecios() {
        $('body').loadingModal({
            text: 'Recuperando Precios...'
        });
        $('body').loadingModal('show');

        $.ajax({
            url: "/Cotizacion/PreciosExtenderVigencia",
            type: 'POST',
            dataType: 'JSON',
            data: {
                codigo: nroCoti
            },
            error: function (resultado) {
                $('body').loadingModal('hide');
            },
            success: function (resultado) {
                var cotizacion = resultado.cotizacion;
                var preciosNoAfectados = false;
                var lista = cotizacion.cotizacionDetalleList;

                $("#tableExtenderVigenciaCotizacionPrecios > tbody").empty();

                $("#tableExtenderVigenciaCotizacionPrecios").footable({
                    "paging": {
                        "enabled": false
                    }
                });

                if (cotizacion.fechaFinVigenciaPrecios == null)
                    $("#nuevaFechaExtenderVigenciaCotizacion").val("");
                else
                    $("#nuevaFechaExtenderVigenciaCotizacion").val(invertirFormatoFecha(cotizacion.fechaFinVigenciaPrecios.substr(0, 10)));

                for (var i = 0; i < lista.length; i++) {
                    var styleDet = "";
                    if (!lista[i].esUltimoPrecio) {
                        styleDet = 'style="background-color: #eeeeee;"';
                        preciosNoAfectados = true;
                    }

                    var det = '<tr data-expanded="true">' +
                        '<td>' + lista[i].producto.proveedor + '</td>' +
                        '<td  ' + styleDet + '>' + lista[i].producto.sku + '</td>' +
                        '<td>' + lista[i].producto.descripcion + '</td>' +
                        '<td>' + lista[i].unidad + '</td>' +
                        '<td>' + lista[i].precioLista.toFixed(2) + '</td>' +
                        '<td>' + lista[i].precioNeto.toFixed(2) + '</td>' +
                        '</tr>';

                    $("#tableExtenderVigenciaCotizacionPrecios").append(det);
                }

                if (preciosNoAfectados) {
                    $("#divMensajePreciosNoAfectados").show();
                } else {
                    $("#divMensajePreciosNoAfectados").hide();
                }

                $('body').loadingModal('hide');
                $("#modalExtenderVigenciaCotizacion").modal();
            }
        });

    }

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', funcionesModalExtenderVigenciaCotizacion, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', funcionesModalExtenderVigenciaCotizacion);
    }

    

   
</script>
