<form class="form-horizontal" enctype="multipart/form-data" id="FormWithArchivos" method="post">
    <div class="row">
        <div class="col-sm-6 col-lg-8">
            <div class="form-group">
                <label for="archivoAdjunto" class="control-label col-xs-2">Adjuntos:</label>

                <div class="col-xs-10">
                    <div class="upload-btn-wrapper">
                        <button class="btn btn-primary">Adjuntar Archivo(s)</button>
                        <input type="file" class="form-control" name="files" id="uploadfiles" accept=".*" multiple="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-8">
            <div class="form-group">
                <label for="archivoAdjunto" class="control-label col-xs-2"></label>
                <div class="col-xs-10">
                    <ul id="nombreArchivos"></ul>
                </div>
            </div>
        </div>
    </div>

</form>


