@{
    Layout = null;
}

<h2 style="color: red;">Inició sesión en otro navegador o dispositivo. </h2>
<div>
    <p>
        Redireccionando a formulario de inicio de sesión...
    </p>
</div>

<script type="text/javascript">

    //setTimeout(function () {
    //    window.location.href = '@Url.Action("Login","Account")';
    //}, 5000);
    
</script>