<label class="lblInfoDescripcionLarga _CLASS_TOOLTIP_ ">
    <img src="~/images/icon_info_22.png" />
    <span class="tooltip-label-text tooltip-label-text-info tooltiptext">_DATA_TIPSO_</span>
</label>
