<label class="lblAlertaProductoDescontinuado _CLASS_TOOLTIP_ " >
    <img src="~/images/icon_warning_18.png" /> PRODUCTO RESTRINGIDO
    <span class="tooltip-label-text tooltiptext">_DATA_TIPSO_</span>
</label>

