<div id="divSelectVRState" srcFree="/images/checkstate_d.png" srcRes="/images/icon_warning_18.png" style="display: none;">
    <div class="dropdown-select-stock-state" style="right:0; width: 215px; max-width: 215px;" >
        <a class="sss-vr-sin-restriccion" href="#" state="0"><img src="~/images/checkstate_d.png" /> Sin Restricción</a>
        <a class="sss-vr-descontinuado" href="#" state="1"><img src="~/images/icon_warning_18.png" /> Descontinuado</a>
        <a class="sss-vr-inestabilidad-precios" href="#" state="2"> <img src="~/images/icon_warning_18.png" /> Inestabilidad de precios</a>
        <a class="sss-vr-stock-limitado" href="#" state="3"> <img src="~/images/icon_warning_18.png" /> Stock limitado</a>
        <a class="sss-vr-venta-controlada" href="#" state="4"> <img src="~/images/icon_warning_18.png" /> Venta controlada</a>
    </div>
</div>

