<div class="container">
    @if (ViewBag.tipoCarga == "archivo") {
        <h1>La carga del archivo de productos se realizó correctamente</h1>
    }
    else if (ViewBag.tipoCarga == "tipo_cambio") {
        <h1>Se actualizó el tipo de cambio en los productos correctamente.</h1>
    }
</div
