<div class="container">
    <form action="/Producto/Load" method="post" enctype="multipart/form-data" id="form1">
        <table>
            <tr>
                <td>
                    <label class="control-label col-xs-6" for="file">Archivo Productos:</label>
                </td>
                <td>
                    <input class="form-control" type="file" name="file" id="file" />
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-xs-6" for="cantidadLineas">Cantidad Registros:</label>
                </td>
                <td>
                    <input class="form-control" type="number" value="0" name="cantidadLineas" id="cantidadLineas" />
                </td>
            </tr>
            <tr>
                <td><label class="control-label col-xs-6" for="formato">Formato:</label></td>
                <td>
                    <textarea class="form-control" rows="15" cols="80">
Columna B=Proveedor
Columna C=SKU
Columna D=SKU Proveedor
Columna E=Unidad
Columna H=Unidad Alternativa
Columna J=Equivalencia (entero)
Columna K=Descripción
Columna S=costo
Columna W=Precio Lima
Columna Z=Precio Provincias

*Fila1 es Cabecera
        </textarea>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="control-label col-xs-6" for="cantidadLineas">Fecha Inicio <br />Vigencia</label>
                </td>
                <td>
                    <input id="fechaInicioVigenciatmp" type="hidden" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    <input class="form-control" type="text" id="fechaInicioVigencia" name="fechaInicioVigencia">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="control-label col-xs-6" for="cantidadLineas">Persistir columnas:</label>
                </td>
                <td>
                    @foreach (Model.CampoPersistir camp in ViewBag.persitirCampos)
                    {
                        <label class="radio-label" style="margin-left: 1px; margin-top: 5px;">
                            <input type="checkbox" name="persiste_@camp.campo.nombre" id="persiste_@camp.campo.nombre" value="1">
                            <span>@camp.nombre</span>
                        </label>
                        <br />
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="form-control" form="form1" value="Submit">Cargar Productos</button>
                </td>
            </tr>
        </table>
    </form>

</div>


@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/producto")
}