
<div class="modal fade" tabindex="-1" id="modalStockProductoKardex">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalStockProductoKardexTitle"><b>Kardex de almacén en <span id="verNombreSedeKardexProductoStock"></span></b></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p></p>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Producto:</label>
                            <div class="col-xs-10">
                                <span class="form-control-static" id="verNombreProductoStockKardex"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Código:</label>
                            <div class="col-xs-8">
                                <span class="form-control-static" id="verCodigoProductoStockKardex"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-8">
                        <div class="form-group">
                            <label class="control-label col-xs-2">Unidad:</label>
                            <div class="col-xs-10">
                                <span class="form-control-static verUnidadMostrarStockKardex"></span>
                                <br />
                                <span class="text-danger">Stock al @DateTime.Now.ToString("dd/MM/yyyy"): <span id="verStockProductoKardex"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="form-group">
                            <label class="control-label col-xs-4">Fecha Inicio:</label>
                            <div class="col-xs-8">
                                <input type="text" id="verFechaInicioKardex" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divMensajeFechaInicio" class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h5 class="text-danger">*Si selecciona una fecha de inicio de movimientos, no se calculará, por cada movimiento, el stock resultante del almacén.</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12 tableFixHead">
                        <table id="tableMovimientosStockKardex" class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th rowspan="2">Tipo Mov.</th>
                                    <th rowspan="2">Fecha Emisión</th>
                                    <th rowspan="2">Información Movimiento</th>
                                    <th rowspan="2">Unidad Movimiento</th>
                                    <th colspan="2">Cant. Mov.</th>
                                    <th colspan="2">Stock en:</th>
                                </tr>
                                <tr>
                                    <th><span>Und. Mov.</span></th>
                                    <th><span id="verUnidadConteoMovimientoKardex"></span></th>
                                    <th><span class="verUnidadMostrarStockKardex"></span></th>
                                    <th><span id="verUnidadConteoStockKardex"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 col-lg-12 text-right">
                        <button id="btnExportKardexExcel" type="button" class="btn btn-primary  bouton-image botonExcel" actionLink="@Url.Action("ReporteStockProductoKardexExcel", "Stock")">Exportar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<script type="text/javascript">

    function funcionesModalKardexStockProducto() {
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);

        $("#verFechaInicioKardex").datepicker({ dateFormat: "dd/mm/yy" });

        $(document).on('click', "button.verModalStockProductoKardex", function () {
            $("#divMensajeFechaInicio").hide();
            $("#verFechaInicioKardex").val("");
            var idProductoPresentacion = $("#selectUnidadProductoStock").val();

            if (idProductoPresentacion == 0) {
                $("#verStockProductoKardex").html($('.stock-sede[idCiudad="' + $(this).attr("idCiudad") + '"]').attr("mp"));
            }

            if (idProductoPresentacion == 1) {
                $("#verStockProductoKardex").html($('.stock-sede[idCiudad="' + $(this).attr("idCiudad") + '"]').attr("alternativa"));
            }

            if (idProductoPresentacion == 2) {
                $("#verStockProductoKardex").html($('.stock-sede[idCiudad="' + $(this).attr("idCiudad") + '"]').attr("proveedor"));
            }

            if (idProductoPresentacion == 3) {
                $("#verStockProductoKardex").html($('.stock-sede[idCiudad="' + $(this).attr("idCiudad") + '"]').attr("conteo"));
            }

            llenarKardexMovimientos();
        });

        $(document).on('change', "#verFechaInicioKardex", function () {
            $("#divMensajeFechaInicio").show();
            llenarKardexMovimientos();
        });

        $(document).on('click', "#btnExportKardexExcel", function () {
            var idCiudad = $("button.verModalStockProductoKardex").attr("idCiudad");
            var idProducto = $("button.verModalStockProductoKardex").attr("idProducto");
            var idProductoPresentacion = $("#selectUnidadProductoStock").val();
            var fechaInicio = $("#verFechaInicioKardex").val();
            window.location.href = $(this).attr("actionLink") + "?idCiudad=" + idCiudad + "&idProducto=" + idProducto + "&idProductoPresentacion=" + idProductoPresentacion + "&fechaInicio=" + fechaInicio;
        });
    };

    function llenarKardexMovimientos() {
        var idCiudad = $("button.verModalStockProductoKardex").attr("idCiudad");
        var idProducto = $("button.verModalStockProductoKardex").attr("idProducto");
        var idProductoPresentacion = $("#selectUnidadProductoStock").val();
        var fechaInicio = $("#verFechaInicioKardex").val();

        $('body').loadingModal({
            text: 'Recuperando Movimientos...'
        });
        $('body').loadingModal('show');

        $.ajax({
            url: "/Stock/ReporteStockProductoKardex",
            type: 'POST',
            dataType: 'JSON',
            data: {
                idCiudad: idCiudad,
                idProducto: idProducto,
                idProductoPresentacion: idProductoPresentacion,
                fechaInicio: fechaInicio
            },
            error: function (detalle) {
                $('body').loadingModal('hide');
            },
            success: function (kardex) {

                $("#verNombreSedeKardexProductoStock").html(kardex.ciudad.nombre);
                $("#verNombreProductoStockKardex").html(kardex.producto.descripcion);
                $("#verCodigoProductoStockKardex").html(kardex.producto.sku);
                $(".verUnidadMostrarStockKardex").html(kardex.unidad);
                $("#verUnidadConteoStockKardex").html(kardex.unidadConteo);
                $("#verUnidadConteoMovimientoKardex").html(kardex.unidadConteo);
                
                var htmlMovimientos = "";
                var lista = kardex.movimientos;
                var infoMov = "";

                for (var i = 0; i < lista.length; i++) {
                    htmlMovimientos = htmlMovimientos + '<tr>' +
                        '<td>' + lista[i].TipoMovimientoDesc + '</td>' +
                        '<td>' + lista[i].FechaDesc + '</td>';

                    if (lista[i].tipoMovimiento == 99) {
                        htmlMovimientos = htmlMovimientos +
                            '<td></td>' +
                            '<td></td>' +
                            '<td></td>' +
                            '<td></td>';

                    } else {
                        infoMov = "";
                        if (lista[i].tipoMovimiento == 1) {
                            infoMov = infoMov + "<b>Entregado a:</b> " + lista[i].razonSocialCliente + " " + lista[i].TipoDocumentoClienteDesc + ": " + lista[i].nroDocumentoCliente + "<br/>";
                        }

                        if (lista[i].tipoMovimiento == 2) {
                            infoMov = infoMov + "<b>Recibido de:</b> " + lista[i].razonSocialCliente + " " + lista[i].TipoDocumentoClienteDesc + ": " + lista[i].nroDocumentoCliente + "<br/>";
                        }
                        infoMov = infoMov + "<b>N° Mov.:</b> " + lista[i].NumeroDocumentoDesc;

                        htmlMovimientos = htmlMovimientos +
                            '<td>' + infoMov + '</td>' +
                            '<td>' + lista[i].unidadMovimiento + '</td>' +
                            '<td>' + lista[i].cantidadMovimiento + '</td>' +
                            '<td>' + lista[i].cantidadConteo + '</td>';
                    }

                    if (fechaInicio.trim() == "") {
                        $("#divMensajeFechaInicio").hide();

                        if (lista[i].stockConteo < 0) {
                            htmlMovimientos = htmlMovimientos +
                                '<td style="color:red; font-weight: bold;">' + lista[i].stockUnidad + '</td>' +
                                '<td style="color:red; font-weight: bold;">' + lista[i].stockConteo + '</td>' +
                                '</tr>';
                        } else {
                            htmlMovimientos = htmlMovimientos +
                                '<td>' + lista[i].stockUnidad + '</td>' +
                                '<td>' + lista[i].stockConteo + '</td>' +
                                '</tr>';
                        }
                    } else {

                        htmlMovimientos = htmlMovimientos +
                            '<td></td>' +
                            '<td></td>' +
                            '</tr>';
                    }
                }

                $("#tableMovimientosStockKardex tbody").html(htmlMovimientos);

                $('body').loadingModal('hide');
                $("#modalStockProductoKardex").modal();
            }
        });

    }

    if (window.addEventListener) // W3C standard
    {
        window.addEventListener('load', funcionesModalKardexStockProducto, false); // NB **not** 'onload'
    }
    else if (window.attachEvent) // Microsoft
    {
        window.attachEvent('onload', funcionesModalKardexStockProducto);
    }

    

   
</script>
