<div class="container">
    @if (ViewBag.tipoCarga == "archivo")
    {
        <h1>La carga del archivo de stock se realizó correctamente.</h1>
        <h2>Fecha Inventario: @ViewBag.fechaInventario</h2>
        <h2>Sede: @ViewBag.nombreSede</h2>
        <h2>Tipo Inventario: @ViewBag.tipoInventario</h2>
    }
    else if (ViewBag.tipoCarga == "tipo_cambio")
    {
        <h1>Se actualizó el tipo de cambio en los productos correctamente.</h1>
    }
</div>
