@using Microsoft.AspNet.Identity
@using Model


@{
    var usuario = (Usuario)this.Session["usuario"];
    if (usuario != null)
    {
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/images/user_icon_2.png" height="22" style="vertical-align:bottom; margin-right: 2px;" /> @usuario.nombre
                <span class="caret"></span>
            </a>            
            <ul class="dropdown-menu" role="menu">
                @if (usuario.enviaMensaje || usuario.modificaMensaje)
                {
                    <li><a id="MensajeRapidoMenu">Enviar mensaje</a></li>

                }
                <li><a id="linkModalCambiarFirma" href="#ModalCambiarFirmaUsuario" data-toggle="modal">Cambiar Firma</a></li>
                <li><a href="#ModalcambiarPassword" data-toggle="modal">Cambiar contraseña</a></li>
                @if (usuario.multiEmpresa)
                {
                    <li><a id="linkModalCambiarEmpresa" href="#ModalCambiarEmpresa" data-toggle="modal">Cambiar Empresa</a></li>
                }
                <li>  @Html.ActionLink("Salir", "Exit", "General")</li>
            </ul>
        </li>
    </ul>
    }
}




@if (Request.IsAuthenticated)
{


    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @{
                    usuario = (Usuario)this.Session["usuario"];
                }

                @Html.ActionLink("Hola " + usuario.nombre, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                <!--@Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })-->
            </li>            
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
        </ul>
    }
}
else
{

}
