
<div id="cambiarPassword" class="modal fade ModalCambiarPassword" tabindex="-1" role="dialog">
    <div class="modal-dialog" id="changePassword">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="control-label">Cambiar la Contraseña</h3>
            </div>
            <!--<form action="/Usuario/cambiarContraseña" method="post">-->
            <div class="modal-body form-horizontal container">
                <input class="hidden" id="idUsuarioCambioPass" name="idUsuarioCambioPass">
                <div class="col-sm-6 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Contraseña Actual:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" id="passActual" name="passActual">

                            <div aria-atomic="true" aria-live="assertive" id="avisoCambioPasswordActual" hidden>
                                <div style="color: #ed1b24">
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/179/179386.svg" width="16px" height="16px">
                                        <svg width="1px" height="1px" xmlns="https://www.w3.org/2000/svg"></svg>
                                    </span>Esta contraseña no coincide con la contraseña actual; inténtalo de nuevo.
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-12">
                    <div class="form-group">
                    <label class="control-label col-xs-5">Contraseña Nueva:</label>
                        <div class="col-xs-7">
                     <input class="form-control" type="password" id="passNuevo" name="passNuevo">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-lg-12">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Confirmar Nueva Contraseña:</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" id="passNuevoConfirmacion" name="passNuevoConfirmacion">
                            <div id="avisoCambioPasswordConfirmacion" hidden>
                                <div style="color: #ed1b24">
                                    <span>
                                        <img src="https://image.flaticon.com/icons/svg/179/179386.svg" width="16px" height="16px">
                                        <svg width="1px" height="1px" xmlns="https://www.w3.org/2000/svg"></svg>
                                    </span>Esta contraseña no coincide con la contraseña nueva; inténtalo de nuevo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button class="btn submit" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                <button class="btn btn-primary" id="password_modal_save">Guardar</button>
            </div>
            <!--</form>-->
        </div>
    </div>
</div>