<div id="Mensaje" class="modal fade ModalMensaje" role="dialog">
    <div class="modal-dialog" id="MensajeDialog">





    </div>
</div>



<div id="MensajeRapido" class="modal fade ModalMensajeRapido" role="dialog" data-url='@Url.Action("EditarRapido","Mensaje")'>
    <div class="modal-dialog" id="MensajeRapidoDialog">



    </div>
</div>
