<div id="MensajeRapido" class="modal fade ModalMensajeRapido" role="dialog" data-url='@Url.Action("EditarRapido","Mensaje")'>
    <div class="modal-dialog" id="MensajeRapidoDialog">



    </div>
</div>
