

<div class="container">
<form action="/Home/LoadClientesFile" method="post" enctype="multipart/form-data" id="form1">

    <table>
        <tr>
            <td>
                <label class="control-label col-xs-6" for="file">Archivo Clientes:</label>
            </td>
            <td>
                <input class="form-control" type="file" name="file" id="file" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-xs-6" for="cantidadRegistros">Cantidad Registros:</label>
            </td>
            <td>
                <input class="form-control" type="number" value="0" name="cantidadRegistros" id="cantidadRegistros" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="control-label col-xs-6" for="sede">Sede:</label>
            </td>
            <td>
                <select id="sede" name="sede">
                    <option value="A">AREQUIPA</option>
                    <option value="C">CHICLAYO</option>
                    <option value="Q">CUSCO</option>
                    <option value="H">HUANCAYO</option>
                    <option value="L">LIMA</option>
                    <option value="P">PIURA</option>
                    <option value="O">TARAPOTO</option>
                    <option value="T">TRUJILLO</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label class="control-label col-xs-6" for="formato">Formato:</label></td>
            <td>
                <!--
                                       <textarea class="form-control" rows="15" cols="100">
    Columna A=PlazaId
    Columna B=Plaza
    Columna C=Id
    Columna D=Nombre / Razón Social
    Columna E=RUC/DNI
    Columna F=Cód. Ve.
    Columna G=Nombre Comercial
    Columna H=Domicilio Legal
    Columna I=Distrito
    Columna J=Dirección de Despacho
    Columna K=Distrito
    Columna L=Rubro

    *Fila1 es Cabecera
    </textarea>

                        -->


                <textarea class="form-control" rows="15" cols="100">
Columna C=Codigo
Columna D=Nombre / Razón Social
Columna F=RUC/DNI
Columna G=Domicilio Legal
Columna H=Distrito
Columna J=Cód. Ve.
Columna M=Dirección de Despacho
Columna T=Nombre Comercial
Columna U=Rubro
            
*Fila1 es Cabecera
</textarea>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="form-control" form="form1" value="Submit">Cargar Clientes</button>
            </td>
        </tr>
    </table>
</form>






</div>

