
@media print {
    header, nav, footer, hr {
        display: none;
    }

    .page-header {
        display: none;
    }

    /*ROW UNO*/

    .row_uno > .col_uno {
        float: left;
        width: 2.2cm;
    }

    .row_uno > .col_dos {
        float: left;
        width: 3.5cm;
    }

    .row_uno > .col_tres {
        float: left;
        width: 3.2cm;
    }

    .row_uno > .col_cuatro {
        float: left;
        width: 2cm;
    }

    /*ROW DOS*/
    .row_dos {
        font-family: "Arial Narrow", Arial, sans-serif;
        margin-top: 0.19cm;
    }

        .row_dos > .col_uno {
            float: left;
            width: 2.5cm;
        }

        .row_dos > .col_dos {
            float: left;
            width: 5.9cm;
        }

        .row_dos > .col_tres {
            float: left;
            width: 3cm;
        }

    /*ROW TRES*/
    .row_tres {
        font-family: "Arial Narrow", Arial, sans-serif;
        margin-top: 0.18cm;
    }

        .row_tres > .col_uno {
            float: left;
            width: 3.9cm;
        }

        .row_tres > .col_dos {
            float: left;
            width: 8cm;
        }

        .row_tres > .col_tres {
            float: left;
            width: 3cm;
        }

    /*ROW CUATRO*/
    .row_cuatro {
        margin-top: 0.18cm;
    }

        .row_cuatro > .col_uno {
            float: left;
            width: 3.9cm;
        }

        .row_cuatro > .col_dos {
            float: left;
            width: 11cm;
        }



    /*ROW SEIS*/
    .row_seis {
        margin-top: 0.22cm;
    }

        .row_seis > .col_uno {
            float: left;
            width: 3cm;
        }

        .row_seis > .col_dos {
            float: left;
            width: 11cm;
        }

    /*ROW SIETE*/
    .row_siete {
        margin-top: 0.24cm;
    }

        .row_siete > .col_uno {
            float: left;
            width: 3cm;
        }

        .row_siete > .col_dos {
            float: left;
            width: 8.6cm;
        }

        .row_siete > .col_tres {
            float: left;
            width: 4.2cm;
        }

        .row_siete > .col_cuatro {
            float: left;
            width: 2cm;
        }

    /*ROW OCHO*/
    .row_ocho {
        margin-top: 0.2cm;
    }

        .row_ocho > .col_uno {
            float: left;
            width: 2.6cm;
        }

        .row_ocho > .col_dos {
            float: left;
            width: 7cm;
        }

        .row_ocho > .col_tres {
            float: left;
            width: 2.8cm;
        }

        .row_ocho > .col_cuatro {
            float: left;
            width: 3.3cm;
        }

        .row_ocho > .col_cinco {
            float: left;
            width: 2.5cm;
        }

    .detalle {
        font-family: "Arial Narrow", Arial, sans-serif;
        margin-top: 0.7cm;
        margin-left: 1cm;
    }

    /*ROW DETALLE*/
    .row_detalle > .col_uno {
        float: left;
        width: 2cm;
    }

    .row_detalle > .col_dos {
        float: left;
        width: 1.5cm;
    }


    .row_detalle > .col_tres {
        float: left;
        width: 3cm;
    }

    .row_detalle > .col_cuatro {
        float: left;
        width: 11cm;
    }




    @page {
        size: auto;
        margin: 0mm;
        /*size: A4 landscape;*/
    }

    body {
        /*background-color: black;*/
        font-family: "Arial Narrow", Arial, sans-serif;
        font-size: 10px;
        color: #333333;
        margin-top: 3.3cm;
        margin-right: 1cm;
        margin-bottom: 15cm;
        margin-left: 1.5cm /*Trujillo*/
    }


    .serieNumeroGuia {
        margin-right: 0cm
    }
}
