
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}



.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btnUpload {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}


.totales {
    font-weight: bold;
    font-size: medium;
    color: brown;
}


.mensaje {
    font-weight: bold;
    font-size: medium;
    color: brown;
}


@media screen and (min-width: 768px) {

    #modalAgregarProducto .modal-dialog {
        width: 900px;
    }

    #modalAgregarDireccion .modal-dialog {
        width: 900px;
    }

    #modalActualizarPedido .modal-dialog {
        width: 1200px;
    }

    #modalAgregarCliente .modal-dialog {
        width: 1100px;
    }

    #modalCalculadora .modal-dialog {
        width: 900px;
    }

    #modalVerVentaConsolidada .modal-dialog {
        width: 1200px;
    }

    #modalComentarioPendienteIngreso .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }


    #modalComentarioPendienteAprobacion .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #modalComentarioPendienteAprobacion .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }

    #modalVerCotizacion .modal-dialog {
        width: 1400px;
    }

    #modalMostrarPrecios .modal-dialog {
        width: 900px;
    }

    #modalVerPedido .modal-dialog {
        width: 1200px;
    }

    #modalVerOrdenCompraCliente .modal-dialog {
        width: 1200px;
    }

    #modalVerGuiaRemision .modal-dialog {
        width: 1200px;
    }

    #modalVerNotaIngreso .modal-dialog {
        width: 1200px;
    }


    #modalVerGuiasRemision .modal-dialog {
        width: 1200px;
    }

    #modalIngresarDatosVentaConsolidada .modal-dialog {
        width: 1100px;
    }

    #modalIngresarDatosReporteDetallado .modal-dialog {
        width: 1100px;
    }

    #modalVerNotasIngreso .modal-dialog {
        width: 1200px;
    }

    #modalAtencion .modal-dialog {
        width: 1100px;
    }

    #modalFacturar .modal-dialog {
        width: 1200px;
    }

    #modalVistaPreviaFactura .modal-dialog {
        width: 1100px;
    }

    #modalVistaPreviaCPE .modal-dialog {
        width: 1100px;
    }

    #modalVerFactura .modal-dialog {
        width: 1100px;
    }

    #modalGenerarNotaCredito .modal-dialog {
        width: 1100px;
    }

    #modalGenerarNotaDebito .modal-dialog {
        width: 1100px;
    }

    #modalGenerarNotaIngreso .modal-dialog {
        width: 1100px;
    }

    #modalVerCliente .modal-dialog {
        width: 1200px;
    }

    #modalVerGrupoCliente .modal-dialog {
        width: 1200px;
    }

    #modalVerProducto .modal-dialog {
        width: 1000px;
    }

    #modalVerHistorialCotizacion .modal-dialog {
        width: 900px;
    }

    #modalVerHistorialPedido .modal-dialog {
        width: 900px;
    }

    #modalVerHistorialCrediticioPedido .modal-dialog {
        width: 900px;
    }


    #modalEdicionDireccionEntrega .modal-dialog {
        width: 900px;
    }

    #modalVerHistorialReasignaciones .modal-dialog {
        width: 900px;
    }


    #modalAprobacion .modal-dialog {
        width: 800px;
    }

    #modalGenerarPedido .modal-dialog {
        width: 920px;
    }

    #modalDetallesRestriccion .modal-dialog {
        width: 800px;
    }

    #modalCargarProductos .modal-dialog {
        width: 700px;
    }
}


div.header {
    width: 100%;
    height: 40px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.table {
    margin-top: 20px;
}

.modal-title {
    position: absolute;
}

.modal-add-image {
    text-align: center;
}

    .modal-add-image img {
        height: 180px;
    }

input.label-input {
    border: none;
    width: 80px;
    cursor: pointer;
}

.table-product-img {
    height: 30px;
}

.column-img {
    text-align: center;
}

#producto_chosen {
    width: 100% !important;
}

@media only screen and (max-width: 991px) {
    .table-product-img {
        height: 70px;
    }

    .column-img {
        text-align: left;
        padding-left: 20px;
    }
}

.up {
    width: 16px;
    height: 16px;
    background: white url(/images/up2.png) no-repeat;
    background-color: transparent;
    float: left;
}

    .up:hover {
        background-color: #A9D0F5;
    }

.down {
    width: 16px;
    height: 16px;
    background: white url(/images/down2.png) no-repeat;
    background-color: transparent;
    float: left;
}

    .down:hover {
        background-color: #A9D0F5;
    }

.updown {
    width: 32px;
    height: 16px;
}


.bouton-image-add:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.botonSunat:before {
    background-image: url(/images/logo_sunat.gif);
}

.botonExcel:before {
    background-image: url(/images/excel.png);
}

.botonClean:before {
    background-image: url(/images/clean.png);
}


.botonSearch:before {
    background-image: url(/images/search_icon.png);
}

.monBouton:before {
    background-image: url(/images/calculadora3.png);
}

.pdfBoton:before {
    background-image: url(/images/pdf-icon.png);
}

.botonPrecios:before {
    background-image: url(/images/etiqueta-de-precio-en-dolares.png);
}


.addBouton:before {
    background-image: url(/images/Add-Male-User-icon.png);
}


.callCenterBouton:before {
    background-image: url(/images/call_center_woman_16.png);
}


.botonClose:before {
    background-image: url(/images/icon-close.png);
}

.addDireccion:before {
    background-image: url(/images/map.png);
}

.addTransportista:before {
    background-image: url(/images/addTransportista.png);
}

/*
#modalCalculadora {
    margin-top: 200px;
}*/
/*$red: #cc4e46;
$darkred: darken($red, 0.2);*/
.footable > thead > tr > th, .footable > thead > tr > td {
    position: relative;
}


/*.footable > tfoot  > tr > td{
  border: none;
}*/
.footable {
    border-spacing: 0;
    width: 100%;
    /*  border: solid #ccc 1px;*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    /* font-family: 'trebuchet MS' , 'Lucida sans' , Arial;*/
    font-size: 14px;
    color: #444;
    border-top: 1px solid #ccc;
}

    .footable.breakpoint > tbody > tr > td.expand {
        background: url('http://themergency.com/footable-demo/css/img/plus.png') no-repeat 5px center;
        padding-left: 40px;
    }

    .footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
        background: url('http://themergency.com/footable-demo/css/img/minus.png') no-repeat 5px center;
    }

    .footable.breakpoint > tbody > tr.footable-row-detail {
        background: #eee;
    }

    .footable > tbody > tr:hover {
        background: #FFF9C4;
    }




    .footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
        cursor: pointer;
    }

    .footable > tbody > tr > td, .footable > thead > tr > th {
        /* border-left: 1px solid #ccc;*/
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
    }

    .footable > thead > tr > th, .footable > thead > tr > td {
        background-color: #BDBDBD;
        /* background-color: $red;
  background-image: -webkit-gradient(linear, left top, left bottom, from($red), to($darkred));
  background-image: -webkit-linear-gradient(top, $red, $darkred);
  background-image: -moz-linear-gradient(top, $red, $darkred);
  background-image: -ms-linear-gradient(top, $red, $darkred);
  background-image: -o-linear-gradient(top, $red, $darkred);
  background-image: linear-gradient(to bottom, $red, $darkred);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
        /*border-top: none; */
        border: 1px solid #ccc;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

        .footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {
            -moz-border-radius: 6px 0 0 0;
            -webkit-border-radius: 6px 0 0 0;
            border-radius: 6px 0 0 0;
        }

        .footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {
            -moz-border-radius: 0 6px 0 0;
            -webkit-border-radius: 0 6px 0 0;
            border-radius: 0 6px 0 0;
        }

        .footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {
            -moz-border-radius: 6px 6px 0 0;
            -webkit-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
        }

    .footable > tbody > tr:last-child > td:first-child {
        -moz-border-radius: 0 0 0 6px;
        -webkit-border-radius: 0 0 0 6px;
        border-radius: 0 0 0 6px;
    }

    .footable > tbody > tr:last-child > td:last-child {
        -moz-border-radius: 0 0 6px 0;
        -webkit-border-radius: 0 0 6px 0;
        border-radius: 0 0 6px 0;
    }

    .footable > tbody img {
        vertical-align: middle;
    }

.resaltarDatosFactura {
    background-color: burlywood;
}

.atenuarDetalleFactura {
    background-color: cadetblue;
}


.list-group,
.list-group-item {
    display: block;
}


/**@brand-primary: darken(#428bca, 6.5%); // #337ab7
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;*/

.badge-warning {
    background-color: #f0ad4e;
}

.badge-danger {
    background-color: #d9534f;
}


.tab-content > .active, .pill-content > .active {
    background-color: #eeeeee;
    padding: 5px 15px;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #eeeeee;
    text-decoration: underline;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    padding: 10px 15px;
}



.lbl-ajuste-calculo-precios {
    color: #0d31ff;
}

/* SWITCH */
.onoffswitch {
    position: relative;
    width: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 22px;
    padding: 0;
    line-height: 22px;
    border: 0px solid #E3E3E3;
    border-radius: 16px;
    background-color: #DDDDDD;
}

    .onoffswitch-label:before {
        content: "";
        display: block;
        width: 16px;
        margin: 3px;
        background: #A1A1A1;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 14px;
        border-radius: 16px;
        box-shadow: 0 6px 12px 0px #757575;
    }

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #49E845;
}

    .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
        border-color: #49E845;
    }

        .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-checkbox:checked + .onoffswitch-label:before {
            right: 0px;
            background-color: #27A1CA;
            box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
        }
/* END SWITCH */


#menuCategoriaPermisos {
    min-height: 350px;
}

.menuUsuarios {
    width: 100%;
    min-height: 300px;
}

.divMenuUsuarios {
    margin-left: 10px;
    margin-right: 10px;
}

.menuUsuarios li {
    list-style: none;
    background-color: aliceblue;
    border-bottom: 1px dotted Gray;
}


/*
.menuUsuarios li.selected {
    background-color: GoldenRod;
}*/


.selected {
    border: 1px solid #888;
    background-color: cornflowerblue;
}





/* Alertas Flotantes */
/* The alert message box */
.alert {
    padding: 15px;
    margin-top: 35px;
    color: white;
    font-weight: bold;
}

.alert-warning {
    background-color: #E5A218;
}

.alert-error {
    background-color: #f44336;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

    /* When moving the mouse over the close button */
    .closebtn:hover {
        color: black;
    }


.lnkAction:hover {
    background-color: #D3EFFF;
    border-radius: 5px;
}

.lnkActionLabel {
    padding: 3px 3px;
    font-size: 13px;
}

.img-responsive {
    max-width: 64px;
    height: auto;
}


[data-notifications] {
    position: relative;
}

    [data-notifications]:after {
        content: attr(data-notifications);
        position: absolute;
        background: red;
        border-radius: 50%;
        border: 1px solid black;
        width: 25px;
        height: 25px;
        text-align: center;
        padding: 0.13em;
        color: white;
        font-weight: bold;
        right: -15px;
        top: -15px;
    }


.ModalMensaje p {
    word-wrap: break-word;
}
#changePassword {
    width: 450px;
}

.tooltip-inner {
    white-space: pre-wrap;
}



/* Bootstrap navbar override */
.navbar-nav > li > a {
    padding: 10px 12px !important;
}


/* Etiqueta DANGER */
.lblAlertaDanger {
    background-color: #d51c1c;
    border-radius: 3px;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    padding: 2px 3px 1px 3px;
    font-weight: bold;
}

.lblAlertaDanger img {
    margin-top: -2px;
    margin-left: -3px;
}


.tooltip-label-danger-text {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color: #111;
    border: 1px solid #d51c1c;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.lblAlertaDanger .tooltip-label-danger-text {
    margin-top: 5px;
}

.tooltip-label .tooltip-label-danger-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #d51c1c transparent transparent;
}

.tooltip-label:hover .tooltip-label-danger-text {
    visibility: visible;
}




/* Etiqueta descontinuado */
.lblAlertaProductoDescontinuado {
    background-color: #f0ad4e;
    border-radius: 3px;
    color: #111111;
    font-size: 10px;
    text-align: center;
    padding: 2px 3px 1px 3px;
    font-weight: bold;
}

.lblAlertaProductoDescontinuado img {
    margin-top: -2px;
    margin-left: -3px;
}

.lblInfoDescripcionLarga {
    border-radius: 3px;
    text-align: center;
    padding: 2px 3px 1px 3px;
}

.lblInfoDescripcionLarga img {
    margin-top: -2px;
    margin-left: -3px;
}

/* Efecto Parpadeo */

.labelModificado {
    display: inline;
    padding: .1em .6em .2em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}


@-moz-keyframes parpadeo {
    0% {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }

    50% {
        font-size: 24px;
        margin-left: -5px;
        margin-right: -5px;
    }

    100% {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


@-webkit-keyframes parpadeo {
    0% {
        font-size: 14px;
        margin-left: 0px;
        margin-top: 0px;
    }

    50% {
        font-size: 24px;
        margin-left: -5px;
        margin-top: -5px;
    }

    100% {
        font-size: 14px;
        margin-left: 0px;
        margin-right: 0px;
    }
}


@keyframes parpadeo {
    0% {
        font-size: 14px;
        margin-left: 0px;
        margin-top: 0px;
    }

    50% {
        font-size: 24px;
        margin-left: -5px;
        margin-top: -5px;
    }

    100% {
        font-size: 14px;
        margin-left: 0px;
        margin-top: 0px;
    }
}
    /* Estilo del scroll del modal mensaje*/

.VerContenedor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;    
}

.VerContenedor::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.VerContenedor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}  

   
.warning-tooltip + .tooltip > .tooltip-inner {
    background-color: #fff;
    color: #111;
    border: 1px solid #f0ad4e
}

.warning-tooltip + .tooltip.bottom .tooltip-arrow,
.warning-tooltip + .tooltip.bottom .tooltip-arrow {
    border-bottom-color: #f0ad4e !important;
}

.warning-tooltip + .tooltip.top .tooltip-arrow,
.warning-tooltip + .tooltip.top .tooltip-arrow {
    border-top-color: #f0ad4e !important;
}

.warning-tooltip + .tooltip.left .tooltip-arrow,
.warning-tooltip + .tooltip.left .tooltip-arrow {
    border-left-color: #f0ad4e !important;
}

.warning-tooltip + .tooltip.right .tooltip-arrow,
.warning-tooltip + .tooltip.right .tooltip-arrow {
    border-right-color: #f0ad4e !important;
}

.tooltip-label {
    display: inline-block;
    position: relative;
}

.tooltip-label-text {
    visibility: hidden;
    width: 150px;
    background-color: #fff;
    color: #111;
    border: 1px solid #f0ad4e;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.lblAlertaProductoDescontinuado  .tooltip-label-text {
    margin-top: 5px;
}

.tooltip-label .tooltip-label-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #f0ad4e transparent transparent;
}

.tooltip-label:hover .tooltip-label-text {
    visibility: visible;
}

.tooltip-label-text-info {
    border: 1px solid #489de3 !important;
    padding: 5px 5px !important;
}

.tooltip-label .tooltip-label-text::after {
    border-color: transparent #489de3 transparent transparent !important;
}

.inset-shadow-red {
    position: relative;
}

.inset-shadow-red:before, .inset-shadow-red:after {
    content: "";
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: inset 3px 3px 10px rgba(242, 38, 19, 0.5), inset -3px -3px 10px rgba(242, 38, 19, 0.5);
    -moz-box-shadow: inset 3px 3px 10px rgba(242, 38, 19, 0.5), inset -3px -3px 10px rgba(242, 38, 19, 0.5);
    box-shadow: inset 3px 3px 10px rgba(242, 38, 19, 0.5), inset -3px -3px 10px rgba(242, 38, 19, 0.5);
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.botonDownload:before {
    background-image: url(/images/download.png);
}

#clienteFacturaIdCliente_chosen {
    width: 100% !important;
}

#nclIdRubro_chosen {
    width: 100% !important;
}


.dropdown-select-stock-state {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-select-stock-state a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-select-stock-state a:hover {
    background-color: #f1f1f1;
}


.dropdown-icons-select:hover .dropbtn {
    background-color: #3e8e41;
}

.sss-icon, .dropdown-select-stock-state img {
    height: 20px;
}

.sss-icon {
    cursor: pointer;
}