body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}


.totales {
    font-weight: bold;
    font-size: medium;
    color: brown;
}


@media screen and (min-width: 768px) {
	
	#modalAgregarProducto .modal-dialog  {width:900px;}
    #modalAgregarCliente .modal-dialog {
        width: 900px;
    }
    #modalCalculadora .modal-dialog {
        width: 900px;
    }
    #modalVerCotizacion .modal-dialog {
        width: 1200px;
    }
    #modalMostrarPrecios .modal-dialog {
        width: 900px;
    }
    #modalVerPedido .modal-dialog {
        width: 1200px;
    }
    #modalAtencion .modal-dialog {
        width: 1100px;
    }


}



div.header {
    width: 100%;
    height: 40px;
} 

.right {
    float: right;
}

.left {
    float: left;
}

.table {
    margin-top: 20px;
}

.modal-title {
    position: absolute;
}

.modal-add-image {
    text-align: center;
}

.modal-add-image img {
    height: 180px;
}

input.label-input {
    border: none;
    width: 80px;
    cursor: pointer;
}

.table-product-img {
    height: 30px;
}

.column-img {
    text-align: center;
}

#producto_chosen {
    width: 100% !important;
}

@media only screen and (max-width: 991px) {
    .table-product-img {
        height: 70px;
    }

    .column-img {
        text-align: left;
        padding-left: 20px;
    }
}

.up {
    width: 16px;
    height: 16px;
    background: white url(/images/up2.png) no-repeat;
    background-color: transparent;
    float: left;
}

.up:hover {
    background-color: #A9D0F5;
}

.down {
    width: 16px;
    height: 16px;
    background: white url(/images/down2.png) no-repeat;
    background-color: transparent;
    float: left;
}

.down:hover {
    background-color: #A9D0F5;
}

.updown {
    width: 32px;
    height: 16px;
}


.bouton-image-add:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 0px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}

.bouton-image:before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}



.monBouton:before {
    background-image: url(/images/calculadora3.png);
}

.pdfBoton:before {
    background-image: url(/images/pdf-icon.png);
}

.botonPrecios:before {
    background-image: url(/images/etiqueta-de-precio-en-dolares.png);
}


.addBouton:before {
    background-image: url(/images/Add-Male-User-icon.png);
}

.searchBouton:before {
    background-image: url(/images/search_icon.png);
}

/*
#modalCalculadora {
    margin-top: 200px;
}*/
/*$red: #cc4e46;
$darkred: darken($red, 0.2);*/
.footable > thead > tr > th, .footable > thead > tr > td {
    position: relative;
}


/*.footable > tfoot  > tr > td{
  border: none;
}*/
.footable {
  border-spacing: 0;
  width: 100%;
/*  border: solid #ccc 1px;*/
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
 /* font-family: 'trebuchet MS' , 'Lucida sans' , Arial;*/
  font-size: 14px;
  color: #444;
  border-top: 1px solid #ccc;
}

.footable.breakpoint > tbody > tr > td.expand {
  background: url('http://themergency.com/footable-demo/css/img/plus.png') no-repeat 5px center;
  padding-left: 40px;
}

.footable.breakpoint > tbody > tr.footable-detail-show > td.expand {
  background: url('http://themergency.com/footable-demo/css/img/minus.png') no-repeat 5px center;
}

.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eee;
}

.footable > tbody > tr:hover {
  background:#FFF9C4;
}




.footable.breakpoint > tbody > tr:hover:not(.footable-row-detail) {
  cursor: pointer;
}

.footable > tbody > tr > td, .footable > thead > tr > th {
 /* border-left: 1px solid #ccc;*/
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

    .footable > thead > tr > th, .footable > thead > tr > td {
        background-color: #BDBDBD;
        /* background-color: $red;
  background-image: -webkit-gradient(linear, left top, left bottom, from($red), to($darkred));
  background-image: -webkit-linear-gradient(top, $red, $darkred);
  background-image: -moz-linear-gradient(top, $red, $darkred);
  background-image: -ms-linear-gradient(top, $red, $darkred);
  background-image: -o-linear-gradient(top, $red, $darkred);
  background-image: linear-gradient(to bottom, $red, $darkred);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;*/
        /*border-top: none; */
        border: 1px solid #ccc;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }

.footable > thead > tr > th:first-child, .footable > thead > tr > td:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
}

.footable > thead > tr > th:last-child, .footable > thead > tr > td:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}

.footable > thead > tr > th:only-child, .footable > thead > tr > td:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.footable > tbody > tr:last-child > td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}

.footable > tbody > tr:last-child > td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}

.footable > tbody img {
  vertical-align:middle;
}