@{
    ViewBag.Title = "LogCampo - Búsqueda";
    Model.LogCampo catalogo = ViewBag.catalogo;
    List<Model.LogCampo> catalogoList = ViewBag.catalogoList;
}
<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">

    <input type="hidden" id="pagina" value="@ViewBag.pagina" />
    <form class="form-horizontal">
        <div class="row">




            <!--CODIGO TABLAS-->
            <div class="col-sm-6 col-lg-4">
                <div class="form-group">
                    <label class="control-label col-xs-4" for="idTabla" name="idTabla">Tablas:</label>
                    <div class="col-xs-8">
                        @Html.Action("GetTablas", "LogCampo",
                                new
                                {
                                    tablaId = "catalogo_tablaId",
                                    selectedValue = catalogo.tablaId
                                })
                    </div>

                </div>
            </div>
        </div>
        <div class="row pull-right" style="margin-bottom:10px; margin-right:0px">
            <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
            <button id="btnBusqueda" type="button" class="btn btn-primary  bouton-image botonSearch">Buscar</button>
        </div>


        <table id="tableCatalogo" class="table" data-editing="false" data-paging="true" data-paging-count-format="{CP} de {TP}"
               data-editing-allow-add="false"
               data-editing-allow-delete="false"
               data-editing-allow-edit="false"
               data-sorting="true"
               data-show-toggle="false"
               data-editing-hide-text="Finalizar edición"
               data-editing-add-text="Descartar cambios">
            <thead>
                <tr>


                    <th data-name="codigo" data-visible="true">Nombre</th>
                    <th data-name="cargo" data-visible="true">Estado</th>
                    <th data-name="estado" data-visible="true">Persiste</th>


                </tr>
            </thead>


            <tbody></tbody>





        </table>
        
    </form>
</div>
@section Scripts {
    @Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}?nocache=" + TempData["ScriptVersion"] + "\"></script>", "~/bundles/logcampo")
}
