
@{
    ViewBag.Title = "Mensaje - Crear";
    Model.Rol rol = ViewBag.rol;
    List<Model.Rol> permisos = ViewBag.roles;


}

<div class="page-header">
    <h3>@ViewBag.Title</h3>
</div>
<div class="container">
    <input type="hidden" id="idProducto" value="" />
    <input type="hidden" id="pagina" value="@ViewBag.pagina" />

    <div class="container">



        <div class="row form-group">
            <label for="roles" class="col-form-label col-md-2">Roles:</label>
            <div class="col-md-5">

                @foreach (Model.Rol per in permisos)
                {

                    <div class="col-sm-6 col-lg-4 col-xs-12">
                        <label class="radio-label" for="permiso_@per.idRol">
                            <input type="checkbox" class="chk-rol" name="rol_@per.idRol" id="rol_@per.idRol" value="1">
                            <span>@per.nombre - (@per.codigo)</span>
                        </label>
                    </div>
                }

            </div>
        </div>





        <div class="row form-group">
            <label for="color" class="col-form-label col-md-2">Importancia:</label>


            <div class="col-md-5">
                <select name="importancia" id="importancia" class="form-control">
                    <option value="" selected>Selecciona una opción</option>
                    <option value="Alta">Alta</option>
                    <option value="Normal">Normal</option>
                    <option value="Baja">Baja</option>
                </select>
            </div>

        </div>



        <div class=" row form-group">
            <label for="fechaHasta" class="col-form-label col-md-2">Fecha de Vencimiento:</label>
            <div class="col-md-5">
                <input class="form-control" type="text" id="fechaHastaMensaje" name="fechaHasta">
            </div>
        </div>


        <div class="row form-group">
            <label for="email" class="col-form-label col-md-2">Titulo:</label>
            <div class="col-md-5">
                <input name="titulo" id="titulo" class="form-control" required>
            </div>
        </div>

        <div class="row form-group">
            <label for="mensaje" class="col-form-label col-md-2">Mensaje:</label>
            <div class="col-md-5">
                <textarea class="form-control" name="mensaje" id="txtMensaje" rows="10" required></textarea>
            </div>
        </div>
        <button id="btnLimpiarBusqueda" type="button" class="btn btn-primary  bouton-image botonClean">Limpiar</button>
        <button class="btn btn-info" id="btnEnviarMensaje">Enviar</button>

    </div>







</div>


